# Dependencies
node_modules/

# Environment variables (TOKEN!)
.env

# SQLite database
*.sqlite
*.sqlite3
*.sqlite-shm
*.sqlite-wal
database.sqlite

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Build
dist/
build/

# Autre
CLAUDE.md
.agents
.claudeignore
skills-lock.json